:80

respond /health-check "OK"

reverse_proxy {
    dynamic a {
        name app
        port 3000
        refresh "1s"
    }

    lb_retries 3
    lb_try_duration "15s"
    lb_try_interval "1s"

    transport http {
        dial_timeout "5s"
        write_timeout "5s"
        read_timeout "5s"
        response_header_timeout "5s"
    }
}